@model Category
<div class="container">
    <div class="row my-3">
        <div class=" col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="name">Name</label>
                    <input  class="form-control"   placeholder="Enter Name" asp-for="Name">
                    <span class="text-danger" asp-validation-for="@Model.Name" ></span>
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <input  class="form-control" placeholder="Enter Description" asp-for="Description">
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>

                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  
</div>
@section Scripts {
    <partial name="_NotifactionPartial" />
    <partial name="_ValidationScriptsPartial" />

}