@model Movie;

<div class="container">
    <div class="row my-3">
        <div class=" col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="title" name="Title" placeholder="Enter Title">
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="Description" placeholder="Enter Description">
                </div>

              
                <div class="mb-3">
                    <label for="duration">StartTime</label>
                    <input type="text" class="form-control" id="startTime" name="StartTime" placeholder="Enter StartTime">
                </div>
                <div class="mb-3">
                    <label for="releaseDate">ReleaseDate</label>
                    <input type="text" class="form-control" id="releaseDate" name="ReleaseDate" placeholder="Enter ReleaseDate">
                </div>
              

               
                <div class="mb-3">
                    <label for="language">Language</label>
                    <input type="text" class="form-control" id="language" name="Language" placeholder="Enter Language">
                </div> 
                <div class="mb-3">
                    <label for="posterUrl">PosterUrl</label>
                    <input type="text" class="form-control" id="posterUrl" name="PosterUrl" placeholder="Enter PosterUrl">
                </div> 
                <div class="mb-3">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="Price" placeholder="Enter Price">
                </div> 
                <div class="mb-3">
                    <label for="rating">Rating</label>
                    <input type="text" class="form-control" id="rating" name="Rating" placeholder="Enter Rating">
                </div>
                <div class="mb-3">
                    <label for="categoryId">CategoryId</label>
                    <input type="text" class="form-control" id="categoryId" name="CategoryId" placeholder="Enter Category">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
